Filip Sjölander <filip.sjolander@gmail.com>
Amanda Taghdisi <amanda.taghdisi@hotmail.com> amandataghdisi <93664472+amandataghdisi@users.noreply.github.com> 
Filip Eles <fille_900@live.se> filipE321 <112546936+filipE321@users.noreply.github.com> filipE <fille_900@live.se>
Rikard Roos <rikardroos@hotmail.com> rikardro <93663695+rikardro@users.noreply.github.com>  rikard <rikardroos@hotmail.com>
Hanna Monastyrski <hanna@monastyrski.com> rockinoinoi <93663757+rockinoinoi@users.noreply.github.com> rockinoinoi <hanna@monastyrski.com>
Amanda Taghdisi <amanda.taghdisi@hotmail.com> amandataghdisi <amanda.taghdisi@hotmail.com>
Filip Eles <fille_900@live.se> filipE <fille_900@live.se>
Rikard Roos <rikardroos@hotmail.com> rikard <rikardroos@hotmail.com>
Hanna Monastyrski <hanna@monastyrski.com> rockinoinoi <hanna@monastyrski.com>